In [1]:
import json
from google.cloud import aiplatform
import pandas as pd
import os


# Define the project, location, and endpoint ID
project_id = os.environ.get("PROJECT_ID")
project_number = os.environ.get("PROJECT_NUMBER")
location = os.environ.get("REGION")
endpoint_id = "1986360114554077184"
# Authenticate the client
aiplatform.init(project=project_id, location=location)
# Initialize the AI Platform endpoint
endpoint = aiplatform.Endpoint(
    endpoint_name=f"projects/{project_number}/locations/{location}/endpoints/{endpoint_id}"
)
# Create the instances
instances = [
    {"n_transactions": 10},
    {"n_transactions": 20},
    {"n_transactions": 30},
]
# Make the prediction
prediction = endpoint.predict(instances=instances)
print(pd.DataFrame(prediction.predictions))

   probability_negative  probability_positive
0              0.680743              0.319257
1              0.578327              0.421673
2              0.392293              0.607707

In [31]:
pd.DataFrame(prediction.predictions)

   probability_negative  probability_positive
0              0.550794              0.449206
1              0.527072              0.472928
2              0.192998              0.807002

In [3]:
# Create the instances
instances = [
    {"n_transactions": i} for i in range(10, 2000)
]
# Make the prediction
prediction = endpoint.predict(instances=instances)
pd.DataFrame(prediction.predictions)

      probability_negative  probability_positive
0                 0.680743              0.319257
1                 0.705494              0.294506
2                 0.705494              0.294506
3                 0.762369              0.237631
4                 0.774369              0.225631
...                    ...                   ...
1985              0.512999              0.487001
1986              0.512999              0.487001
1987              0.512999              0.487001
1988              0.512999              0.487001
1989              0.512999              0.487001

[1990 rows x 2 columns]